<%include _header %>
<title>Australia Weather Forecast</title>
</head>
<body>
	<div id = "map" style = "width:1000px;height:1000px"></div>
	
	
<script type="text/javascript" src="http://localhost:3000/js/australia.js"></script>

<%include _footer %>

